
<form #vetForm="ngForm" (ngSubmit)="insertModVet(vetForm.value)">
    <div>
        <label>NOMBRE: </label>
        <input type="text" name="firstName" required [(ngModel)]="vet.firstName">
    </div>
    <div>
        <label>APELLIDO: </label>
        <input type="text" name="lastName" required [(ngModel)]="vet.lastName">
    </div>
    <div style="visibility: hidden;">
        <label>ID: </label>
        <input type="number" name="id" required [(ngModel)]="vet.id">
    </div>

    <div>
        <button type="submit">Enviar</button>
        <button (click)="deleteVet(vet.id)">Borrar</button>
        <button routerLink="/vet">Cancelar</button>
    </div>
</form>
