<main class="container">
    <button class="btn btn-primary" routerLink="/personas-add/-1" role="button">Añadir Persona</button>
    <span>|</span>
    <button type="button" class="btn btn-primary" (click)="insertFormRoute()">Añadir Persona</button>
    
    <table class="table table-bordered">
        <thead>
            <th>DNI</th>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>BORRAR</th>
            <th>EDITAR</th>
        </thead>
    
        <tbody>
            @for (p of personas; track $index){
            <tr>
                <td>{{p.dni}}</td>
                <td>{{p.nombre}}</td>
                <td>{{p.apellidos}}</td>
                <td><button (click)="deletePerson(p)">BORRAR</button></td>
                <td><button routerLink="/personas-add/{{p.id}}" role="button">EDITAR</button></td>
            </tr>
            }
        </tbody>
    </table>
</main>