
<div>
    <table class="table">
        <thead>
            <th>NOMBRE</th>
        </thead>
        <tbody>
            @for(type of types; track $index){
                <tr>
                    <td>{{type.name}}</td>
                    <td><button (click)="changeShowForm()">Editar</button></td>
                    <td><button (click)="deleteType(type)">Borrar</button></td>
                </tr>
            }
        </tbody>
    </table>

    <button (click)="changeShowForm()">Add Type</button>
    @if(showForm == true){
        <app-add-type (pafuera)="addType($event)"></app-add-type>
    }
</div>