<div class="container">
    <nav class="nav">
        <button routerLink="/owner">Owners</button>
        <button>Pets</button>
        <button routerLink="/vet">Vets</button>
    </nav>
    <div class="container">    
        <h2 style="visibility: hidden;">Id: {{owner.id}}</h2>
        <h2>Full Name: {{owner.firstName +" "+ owner.lastName}}</h2>
        <h2>Address: {{owner.address}}</h2>
        <h2>City: {{owner.city}}</h2>
        <h2>Phone: {{owner.telephone}}</h2>
        <h2 style="visibility: hidden;">Id: {{owner.pets}}</h2>
    </div>
    <nav>
        <button routerLink="/owner">Go Back</button>
        <button routerLink="/add-owner/{{owner.id}}">Edit</button>
        @if(owner.pets == null){
            <button (click)="deleteOwner(owner.id)">Delete Owner</button>
        }
        <button (click)="showForm()">{{addButtonText}}</button>
    </nav>
</div>
@if(banderaForm == true){
    <div>
        <form #petForm="ngForm" (ngSubmit)="addPet(petForm.value)">
            <div style="visibility: hidden;">
                <label>Id: </label>
                <input type="number" name="id" required [(ngModel)]="pet.id">
            </div>
            <div>
                <label>Nombre: </label>
                <input type="text" name="name" required [(ngModel)]="pet.name">
            </div>
    
            <div>
                <label>Fecha de nacimiento: </label>
                <input type="date" name="birthDate" required [(ngModel)]="pet.birth">
            </div>
    
            <div>
                <label>Tipo: </label>
                <select name="type" class="form-control" required [(ngModel)]="pet.type">
                    @for(type of types; track $index){
                        <option [ngValue]="type">
                            {{type.name}}
                        </option>
                    }
                </select>
            </div>
            <div style="visibility: hidden;">
                <label>Owner: </label>
                <input type="number" name="owner" required [(ngModel)]="owner">
            </div>
            <button>Add</button>
        </form>
    </div>
}
