<table>
    <thead>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>DESCRIPCION</th>
    </thead>
    
    <tbody>
        <tr *ngFor="let dept of departs">
            <td>{{dept.ID}}</td>
            <td>{{dept.NOMBRE}}</td>
            <td>{{dept.DESCRIPCION}}</td>
        </tr>
    </tbody>

    <button>Añadir Profe</button>

    <thead>
        <th>ID</th>
        <th>DNI</th>
        <th>NOMBRE</th>
        <th>APELLIDOS</th>
        <th>DEPARTAMENTO</th>
    </thead>

    <tbody>
        <tr>

        </tr>
    </tbody>
</table>
