<form>
    <div>
        <label>
            DNI:
            <input name="dni" type="text" value="{{persona.dni}}">
        </label>
    </div>

    <div>
        <label>
            NOMBRE:
            <input name="nombre" type="text" value="{{persona.nombre}}">
        </label>
    </div>

    <div>
        <label>
            APELLIDOS:
            <input name="apellidos" type="text" value="{{persona.apellidos}}">
        </label>
    </div>

    <button>{{buttonText}}</button>
    <button (click)="goBack()">CANCELAR</button>
</form>
