<form #personForm="ngForm" (ngSubmit)="insertModPerson(personForm.value)" >
    <div> 
        <label>
            DNI:
        </label>
        <input name="dni" type="text" required [(ngModel)]="persona.dni">
    </div>

    <div>
        <label>
            NOMBRE:
        </label>
        <input name="nombre" type="text" required [(ngModel)]="persona.nombre">
    </div>

    <div>
        <label>
            APELLIDOS:
        </label>
        <input name="apellidos" type="text" required [(ngModel)]="persona.apellidos">
    </div>

    <button [disabled]="!personForm.valid" >{{buttonText}}</button>
    <button (click)="goBack()">CANCELAR</button>
</form>