<main class="container">
    <button class="btn btn-primary" routerLink="/personas-add/-1" role="button">Añadir Persona</button>
    <span> | </span>
    <button type="button" class="btn btn-primary" (click)="irANuevaPersona()">Añadir Persona</button>
    <table class="table table-class sm">
        <thead>
            <th>ID</th>
            <th>DNI</th>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>Borrar</th>
            <th>Editar</th>
        </thead>
    
        <tbody>
            <tr *ngFor="let p of listaPersonas">
                <td>{{p.id}}</td>
                <td>{{p.dni}}</td>
                <td>{{p.nombre}}</td>
                <td>{{p.apellidos}}</td>
                <td><button (click)="borrarPersona(p)" type="button">Borrar</button></td>
                <td><button routerLink="/personas-add/{{p.id}}" type="button">Editar</button></td>
            </tr>
        </tbody>
    </table> 
</main>

